.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: var(--headerHeight-xl);
  z-index: 999;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    margin-right: auto;

    color: var(--mrt-app-headline, #1b1c57);
    font-weight: 700;
    text-transform: capitalize;
  }

  &__menu {
    display: flex;
    place-items: center;
    gap: 24px;
    transition: all 0.333s;

    > li {
      display: inline-flex;
      align-items: center;
      color: var(--neutral-100, #f0f3fd);
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;

      > a,
      > button {
        border-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.1);
        padding: 8px 16px;
        overflow: hidden;

        &:hover {
          color: var(--neutral-500);
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .dropdown {
    position: relative;

    &.active {
      display: block;

      .dropdown-content {
        display: block;
      }

      .dropdown-btn svg {
        transform: rotate(-90deg);
      }
    }

    .dropdown-btn {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;

      svg {
        width: 18px;
        height: 18px;
        transform: rotate(90deg);
        fill: currentColor;
      }
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    min-width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    > li a {
      display: inline-flex;
      width: 100%;
      padding: 8px 16px;

      &:hover {
        color: var(--neutral-500);
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .btn-sign-in {
    margin-left: 56px;
    text-transform: capitalize;

    color: var(--green-700, #047857);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    background: var(--green-100, #d1fae5);
  }
}
