<a href="#">
  <div class="feature-house-slide-card">
    <div class="image">
      @@imageSrc
  
      <div class="tag @@tag">
        @@include('../../assets/svg/fire.svg')
        Popular
      </div>
    </div>
  
    <h3 class="title">
      @@title
    </h3>
  
    <div class="price">
      @@price
    </div>
  
    <div class="user">
      <div class="user__avatar">
        @@user.avatar
      </div>
  
      <div class="user__data">
        <div class="name">@@user.name</div>
        <div class="location">@@user.location</div>
      </div>
    </div>
  </div>
</a>