@import './_mixins';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  
  @include xl {
    padding: 0 20px;
  }
}

@each $name, $value in $theme-colors {
  .color-#{$name} {
    color: var(#{'--' + $name});
  }

  .bg-#{$name} {
    background-color: var(#{'--' + $name});
  }
}

@for $i from 1 through 9 {
  .weight-#{$i * 100} {
    font-weight: var(--weight-#{$i * 100});
  }
}

.bg-white {
  background-color: var(--white);
}

.overflow-h {
  overflow: hidden;
}

.text-border {
  color: currentColor;
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}

.btn {
  border-radius: var(--rounded-md);
  padding: 12px 1rem;
  cursor: pointer;
}